.dashboard-menu {
  display: flex;
  justify-content: space-between;
  li {
    padding: 0.6rem;
    font-size: 0.8rem;
    text-align: center;
    p {
      margin: 0;
    }
  }

  @media screen and (min-width: 821px) {
    display: block;
    li {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      font-size: 1.3rem;
      padding: 0;
      a {
        display: flex;
        align-items: center;
        p {
          margin-right: 1rem;
        }
      }
    }
  }
}
