$layout-margin: 30%;
$layout-margin-small: 20%;
.main-layout {
  width: 50%;
  margin-left: $layout-margin-small;
  border-right: 1px solid #ddd;
  @media screen and (min-width: 912px) and (max-width: 1024px) {
    margin-left: $layout-margin;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 2rem 0;
  }
}
.aside {
  width: 100%;
  padding: 0.5rem 0.5rem;
  position: fixed;
  border-right: 1px solid #ddd;
  bottom: 0;
  height: auto;
  img {
    width: 5rem;
  }
  @media screen and (min-width: 1024px) {
    width: $layout-margin-small;
    padding: 2rem 5rem;
    img {
      width: 25rem;
    }
    height: 100%;
    border-right: 1px solid #ddd;
  }

  @media screen and (min-width: 912px) and (max-width: 1024px) {
    width: $layout-margin;
    padding: 2rem 3rem;
    height: 100%;
  }
}

.dashboard-logo {
  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 2rem;
  }
}
