.cards {
  border: 1px solid #ddd;
  padding: 3% 4% 4% 3%;
  margin: 2rem;
  position: relative;

  border-radius: 1rem;
  .card-footer {
    position: absolute;
    width: 90%;
    bottom: 1rem;
  }
  .card-content {
    padding: 2rem 2rem 4rem 2rem;
    img {
      width: 70%;
    }
  }
}
