.cards {
  border: 1px solid #ddd;
  padding: 5%;
  margin: 2rem;
  position: relative;
  min-height: 30rem;
  border-radius: 5%;
  .card-footer {
    position: absolute;
    width: 90%;
    bottom: 5%;
  }
  .card-content {
    padding: 2rem;
    img {
      width: 70%;
    }
  }
}
