@import "./variables";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Encode Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  background: $button-color;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.divider {
  height: 40vh;
  border: 1px solid $light-gray;
}

.error-text {
  color: $error-red;
  border: 1px solid #c5302f;
  color: #c5302f;
  background: #fef4f5;
}

.field-error {
  color: #c5302f;
}

.success-text {
  color: $success-green;
  border: 1px solid #77c59f;
  color: #53947a;
  background: #f0fcf5;
}

.alert-response {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

button[disabled] {
  opacity: 0.6;
}

.link {
  color: rgb(41, 41, 163);
}
