* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  background: #656322;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
}

.divider {
  height: 40vh;
  border: 1px solid #eee;
}

.error-text {
  color: rgb(183, 51, 51);
}

.success-text {
  color: rgb(99, 201, 99);
}
